#head-title {
   font-size: 3rem;
   font-family: 'Playfair Display SC', serif;
}

.iris-box {
  background-color: #4D8DC9;
  background-image: url(https://images.unsplash.com/photo-1540163502599-a3284e17072d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8aXJpc3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60/500/300);
  height: 350px;
  width: 500px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

.compliment {
  font-size: 2em;
  font-family: monospace;
  color: tomato;
}

.beautiful {
  color: #4d8dc9;
}

.milk {
  color: white;
}

.shopping {
  color: white;
}

.Iris-Flower-blue {
  color: #4d8dc9;
}

.consciousness {
  color: black;
}

.edward {
  color: blue;
}

.title {
    font-size: 60px;
    text-align: center;
    color: blue;
    margin-top: 50px; 
}

.poster {
  color: gray;
  font-family: 'Satisfy', cursive;
}

.motivation-img {
  width: 400px;
}

.welcome-website {
  font-family: 'Satisfy', cursive;
}

.Ed-home {
  font-family: 'Satisfy', cursive;
}
.picsum-photos {
  font-family: 'Satisfy', cursive;
}
